@media (max-width: 450px) {
    body{
        font-size:5.5px;
    }
}

@media (min-width:450px) and ((max-width: 600px)){
    body{
        font-size:7px;
    }
}

@media (min-width:600px) and ((max-width: 767px)){
    body{
        font-size:9px;
    }
}

@media (min-width:768px) and ((max-width: 991px)){
    body{
        font-size:11px;
    }
}

@media (min-width:992px) and ((max-width: 1200px)){
    body{
        font-size:14px;
    }
}

@media (min-width:1200px){
    body{
        font-size:16px;
    }
}

/*字体阴影抖动效果*/
.page_tittle{
    color: white;
    height: 3em;
    background-image: url('tittle-background2.jpeg');
    font-size:6em;
    display: flex; 
    background-repeat: repeat;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    border: 0.5em;
}

.page_tittle:hover{
    animation: jitter 1s linear infinite;
}
@keyframes jitter {
    0%, 25% {
        background-position: 0px 0px;
    }
    50% {
        background-position: 0.5em 0.5em; 
    }
    75% {
        background-position: -0.5em -0.5em; 
    }
    100% {
        background-position: 0px 0px;
    }
}

.general_sentence{
    font-size: 2em;
}

.input_long_text {
    width: 100%;
    min-height: 2em;
    overflow: hidden;
    padding: 0.2em;
    box-sizing: border-box;
    font-size: 1.8em;
    resize: none; /* 禁止用户手动拖动调整 */
}

.percent_line {
    display: flex;
}

.input_short_text{
    flex: 0.5x;
    font-size: 1.6em;
    width: 10%;
    padding-bottom: 0%;
    text-align: center;
}

.hint{
    padding: 0;
    border: 0;
    padding-left: 1em;
    line-height: 0.5em;
    font-size: 1.5em ;
    visibility: hidden;
}


.submit_button{
    font-size: 1.8em;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5em;
    margin-top: 0.8em;
}

.result_of_data_input{
    font-size: 2em;
    margin: 0.2em;
}
