@media (max-width: 450px) {
    body{
        font-size:5.5px;
    }
}

@media (min-width:450px) and ((max-width: 600px)){
    body{
        font-size:7px;
    }
}

@media (min-width:600px) and ((max-width: 767px)){
    body{
        font-size:9px;
    }
}

@media (min-width:768px) and ((max-width: 991px)){
    body{
        font-size:11px;
    }
}

@media (min-width:992px) and ((max-width: 1200px)){
    body{
        font-size:14px;
    }
}

@media (min-width:1200px){
    body{
        font-size:16px;
    }
}

/*字体阴影抖动效果*/
.page_tittle{
    color: white;
    height: 3em;
    background-image: url('tittle-background2.jpeg');
    font-size:6em;
    display: flex; 
    background-repeat: repeat;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    border: 0.5em;
}

.page_tittle:hover{
    animation: jitter 1s linear infinite;
}
@keyframes jitter {
    0%, 25% {
        background-position: 0px 0px;
    }
    50% {
        background-position: 0.5em 0.5em; 
    }
    75% {
        background-position: -0.5em -0.5em; 
    }
    100% {
        background-position: 0px 0px;
    }
}

.general_sentence{
    font-size: 2em;
}

.input_dataset {
    width: 100%;
            min-height: 0.5em; /* 初始高度 */
            max-height: 200em; /* 最大高度 */
            overflow: hidden;
            padding: 1em;
            box-sizing: border-box;
            font-size: 1.7em;
            resize: none; /* 禁止用户手动拖动调整 */
}

#submit_button{
    font-size: 2em;
    align-items: center;
    display: block;
    margin: 0 auto;
    margin-top: 0.8em;
}

.result_of_data_input{
    font-size: 2em;
    font-weight: 500;
    color: black;
}













